body {
	font-family: 'Patrick Hand SC', cursive;
	color: #000000;
	background: rgb(179, 179, 179);
	font-size: 0.8em;
}

.app-header {
	margin: -0.5em -0.5em 0em -1em;
	padding: 1em;
	background: #111;
	color: #dedede;
	display: flex;
	align-items: center;
	font-size: 3em;
	justify-content: center;
}

label {
	display: table; /* block formatting, with a minimum width */
}

a {
	color: inherit;
}

.die {
	background:white;
	margin: 1em;
	border-radius: 1em;
	border: 6px #222222 solid;
	transition: all 1s ease-in;
}

.tilt-left {
	transform: rotate(15deg);
}

.tilt-right {
	transform: rotate(-15deg);
}

button {
	font-family: inherit;
	font-size: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

.icon {
	width: 100px;
	height: 100px;
}

.die-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
